<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Обмен книгами - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                @Html.ActionLink("SCINOLibrary", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_SignInPartial", new SCINOLibrary.Models.LoginViewModel())
                @Html.Partial("_RegisterPartial", new SCINOLibrary.Models.RegisterViewModel())
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    <!--Activate the tooltips-->
    <script>
        $(function () {
            $("[data-toggle='tooltip']").tooltip();
        });
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
