@model SCINOLibrary.Models.RegisterViewModel
@using Microsoft.AspNet.Identity
@if (!Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle" title="Регистрация нового пользователя">
                Регистрация<b class="caret"></b>
            </a>
            <ul class="dropdown-menu" style="padding: 20px; width: 250px">
                <li>
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary()
                        <p>@Html.TextBoxFor(m => m.Surname, new { @class = "form-control", @placeholder = "Фамилия" })</p>
                        <p>@Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Имя" })</p>
                        <p>@Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "E-mail" })</p>
                        <p>@Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Пароль" })</p>
                        <p>@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Подтверждение пароля" })</p>
                        <p><input type="submit" value="Зарегистрироваться" class="btn btn-primary" /></p>
                    }
                </li>
            </ul>
        </li>
    </ul>
}