@using Microsoft.AspNet.Identity
@model SCINOLibrary.Models.ManageUserViewModel

<div class="col-md-4 col-md-offset-2" style="padding:10px;">
    @using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <h4>Изменить пароль</h4>
        <p>@Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Текущий пароль" })</p>
        <p>@Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "Новый пароль" })</p>
        <p>@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Подтверждение пароля" })</p>
        <p><input type="submit" value="Сохранить" class="btn btn-default" /></p>
    }
</div>


















